include settings
doctype html
html(lang="ru")
    head
        meta(charset='utf-8')
        meta(name="description" content=description)
        meta(name="author" content=author)
        meta(name='viewport' content='width=device-width,initial-scale=1')

        if logo
            link(rel='icon' type='image/png' href=logo)
        else
            link(rel='icon' type='image/svg+xml' href='media/logo.svg')

        include ../../node_modules/@yababay67/pug-modules/headers/styles

        if withSvelte
            link(rel='stylesheet' href='build/bundle.css')
            script(defer src='build/bundle.js')

        title= title

        body
            include svg
            header
                include ../../node_modules/@yababay67/pug-modules/headers/brand-icons-end

            main
                include ../../node_modules/@yababay67/pug-modules/main/offcanvas-and-article

            footer
                include ../../node_modules/@yababay67/pug-modules/footers/simple-copyright

